<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>欢迎页面-X-admin2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../statics/css/font.css">
	<link rel="stylesheet" href="../statics/css/OverlayScrollbars.css" />
	<link rel="stylesheet" href="../statics/css/xadmin.css">
	<link rel="stylesheet" href="../statics/css/s_style.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../statics/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="../statics/js/xadmin.js"></script>

	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="x-nav">
			<span class="layui-breadcrumb">
        <a href="">专题分析</a>
        <a>
          <cite>缉查布控</cite></a>
      </span>
			<a class="layui-btn layui-btn-small" style="line-height:1.3;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:25px">ဂ</i></a>
		</div>
	<div class="x-body layui-anim layui-anim-up">
		<div class="layui-row gaid_con">
			<div class="layui-form layui-col-md12">
					<div class="gaid_pad">
						<fieldset class="layui-elem-field">
							<h1><span>表单模版</span></h1>
							<div class="layui-field-box pd0 group_a">
								<div class="layui-row">
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>桥梁编号</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>桥梁名称</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>桥梁长度</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>跨径类型</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>使用年限</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>构造类型</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>是否启用</label>
											<div class="layui-input-inline radio_box">
													<input type="radio" name="sex" value="是" title="是" checked="">
      												<input type="radio" name="sex" value="否" title="否">
											</div>
										</div>
									</div>
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>材料名称</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>设计荷载等级</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>建成通车日期</label>
											<div class="layui-input-inline">
											<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
				
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>管养单位</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>所属路线</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label">技术等级</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
									<div class="layui-col-xs6">
										<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>桥梁宽度</label>
											<div class="layui-input-inline">
												<input type="text"  placeholder="请输入标题" class="layui-input dang_input">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs12">
											<div class="layui-form-item dang_form_item">
											<label class="layui-form-label dang_label"><span class="red">*</span>经度</label>
											<div class="layui-input-inline" style="width: 60px;">
												<input type="text"  placeholder="请输入" class="layui-input dang_input">
											</div>
											<label class="layui-form-label dang_label" style="width: 60px;"><span class="red">*</span>纬度</label>
											<div class="layui-input-inline"style="width: 60px;">
												<input type="text"  placeholder="请输入" class="layui-input dang_input">
											</div>
										</div>
										
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs12">
										<div class="layui-form-item dang_form_item">
											<div id="MinigrateChart" style="width: 100%;height:300px;"></div>
										</div>
									</div>
									
								</div>
								<div class="layui-row">
									<div class="layui-col-xs12">
										<div class="layui-form-item dang_form_item">
											<div class="tCenter">
												<button class="but_a but_a1">确认</button>
												<button class="but_a but_a2">取消</button>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
						</fieldset>
					</div>
			</div>
		</div>
		
		
		
		
	</div>
</body>
<script type="text/javascript" src="../statics/js/jquery.overlayScrollbars.js" ></script>
<script>
 layui.use('laydate', function(){
        var laydate = layui.laydate;
        	//执行一个laydate实例
			laydate.render({
				elem: '#start' //指定元素
			});
     });
</script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=53oVIOgmSIejwV7EfphPgTynOZbIiVYu"></script>
<script type="text/javascript" src="../statics/js/echarts.js"></script>
<script type="text/javascript" src="../statics/js/bmap.min.js"></script>
<script type="text/javascript">
	var map = new BMap.Map("MinigrateChart");
			var point = new BMap.Point(92.60014, 32.572863); // 创建点坐标  
			map.centerAndZoom(point, 5); // 初始化地图，设置中心点坐标和地图级别 
			map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
			var myStyleJson = [
          {
                    "featureType": "all",
                    "elementType": "geometry",
                    "stylers": {
                              "hue": "#007fff",
                              "saturation": 89
                    }
          },
          {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": {
                              "color": "#ffffff"
                    }
          },
          {
                    "featureType": "land",
                    "elementType": "all",
                    "stylers": {
                              "color": "#1f3a5eff"
                    }
          },
          {
                    "featureType": "administrative",
                    "elementType": "all",
                    "stylers": {
                              "color": "#f3f3f3ff"
                    }
          },
          {
                    "featureType": "administrative",
                    "elementType": "labels.text.stroke",
                    "stylers": {
                              "color": "#0c3161ff"
                    }
          }
];
			map.setMapStyle({
				styleJson: myStyleJson
			});
</script>	

	

</html>
